{% extends 'base.html' %}

{% block content %}


    <div class="breadcome-area">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="breadcome-list">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <div class="breadcomb-wp">
                                    <div class="breadcomb-icon">
                                        <i class="icon nalika-home"></i>
                                    </div>
                                    <div class="breadcomb-ctn">
                                        <h2>Product List</h2>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <div class="breadcomb-report">
                                    <button data-toggle="tooltip" data-placement="left" title="Add Product" class="btn"><i class="icon nalika-edit"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="product-new-list-area">
        <div class="container-fluid">
        {% for item in items %}
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <div class="single-new-trend mg-t-30">
                    <a href="/item/{{item.alias}}/"><img src="{{ item.photo }}" alt="{{ item.title }}">
                        <div class="overlay-content">
                            <h3>{{ item.title }} - {{ item.saleprice }}<i class="fa fa-btc" aria-hidden="true"></i></h3>
                        </div>
                    </a>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>


{% endblock %}